@CHARSET "UTF-8";
body {
/*     width: 300px; */
}

.eneon-entity.description {
    margin-bottom: 1em;
}

.entity-eneon-network .network-link {
    margin-bottom: 1em;
}

#eneon-issue-wizard .suggested-networks-hint {
    margin-bottom: 1em;
}

#eneon-issue-wizard .network-list {
    overflow-y: scroll;
    max-height: 300px;
}

#eneon-issue-wizard .horizontal-list,
.node .horizontal-list,
.node .no-bullets {
    margin: 0 0 .25em 0;
    padding: 0;
}

#eneon-issue-wizard .horizontal-list ul,
.node .horizontal-list ul {
    float: left;
}

#eneon-issue-wizard .horizontal-list li,
.node .horizontal-list li {
    display: inline;
/*     white-space: nowrap; */
    padding-right: 1em;
}

#eneon-issue-wizard .horizontal-list li,
#eneon-issue-wizard .no-bullets li,
.node .horizontal-list li,
.node .no-bullets li {
    list-style-type: none;
}

