@CHARSET "UTF-8";
body {
/*     width: 300px; */
}

.eneon-entity.description {
    margin-bottom: 1em;
}

#eneon-issue-wizard .suggested-networks-hint {
    margin-bottom: 1em;
}

#eneon-issue-wizard .suggested-networks {
    overflow-y: scroll;
    max-height: 400px;
}

.field-name-eneon-network-description {
    margin-bottom: 1em;
}

.field-name-eneon-issue-description {
    margin-bottom: 1em;
}