@CHARSET "UTF-8";
body {
/*     width: 300px; */
}

.eneon-entity.description {
    margin-bottom: 1em;
}

.entity-eneon-network .network-link {
    margin-bottom: 1em;
}

#eneon-issue-wizard .suggested-networks-hint {
    margin-bottom: 1em;
}

#eneon-issue-wizard .suggested-networks {
    overflow-y: scroll;
    max-height: 400px;
}

#eneon-issue-wizard .taxonomy-items,
.node-eneon-network .taxonomy-items,
.node-eneon-issue .taxonomy-items {
    margin: 0 0 .25em 0;
    padding: 0;
}

#eneon-issue-wizard .taxonomy-items ul,
.node-eneon-network .taxonomy-items ul,
.node-eneon-issue .taxonomy-items ul {
    white-space: nowrap;
    float: left;
}


#eneon-issue-wizard .taxonomy-items li,
.node-eneon-network .taxonomy-items li,
.node-eneon-issue .taxonomy-items li {
    display: inline;
    padding-right: 1em;
}

